<div class="about-container">
    <h1>Despre noi</h1>
    <p>Bine ați venit pe site-ul nostru, FilmeFlix! Aici puteți găsi cele mai noi și mai populare filme din toate genurile.
        Echipa noastră este formată din pasionați ai filmelor, care își doresc să ofere celor care vizitează site-ul nostru o experiență de neuitat. În permanență căutăm cele mai bune filme pentru a vă oferi o selecție vastă și interesantă.
      Vă mulțumim că ați ales să ne vizitați și sperăm să vă bucurați de experiența pe care o oferim!</p>
      <img class="imagine-about"src="/assets/imagini/diverse/aboutus.png" alt="semnul intrebarii">
  </div>
  
