<header>
  <div class="container">
    <a class="logo">FilmeFlix</a>
    <mat-icon>eco</mat-icon>
    <nav>
      <ul>
        <section class="butoane">
        
          <div>
            <a routerLink="/" mat-button class="buton1" color="red">Home</a>
            
          </div>
          <div>
            <a routerLink="about" mat-button class="buton1" color="red">Despre</a>
          
          </div>
          <div>
            <a routerLink="contact" mat-button class="buton1" color="red">Contact</a>
          </div>
        </section>

      </ul>
    </nav>
  </div>
</header>